:root {
  --bg-header: rgb(3, 58, 30);
  --bg-main: #ffffff;
  --bg-footer: rgb(3, 58, 30);

  --text-main: #000000;
  --text-subtitle: #ffffff;
  --text-title: rgb(30, 155, 30);
  --text-vd: rgb(26, 121, 26);

  --card-bg: #fff;
  --card-shadow: rgb(123, 201, 123);
  --card-hover-shadow: rgba(9, 172, 31, 0.966);
  --card-cz: rgb(68, 76, 80);
  --card-sla: ;

  --btn-bg: #ffffff;
  --btn-hover: #ddd;
  --btn-text: #000000;
}

/* ======= Tema escuro ======= */
body.dark {
  --bg-header: #000000;
  --bg-main: #121212;
  --bg-footer: #000000;

  --text-main: #f1f1f1;
  --text-subtitle: #cccccc;
  --text-title: #6cd96c;

  --card-bg: #242424;
  --card-shadow: rgba(0, 0, 0, 0.6);
  --card-hover-shadow: rgba(0, 255, 100, 0.4);

  --btn-bg: #333;
  --btn-hover: #444;
  --btn-text: #f1f1f1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-main);
}

/* Header com ícones e select */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background: var(--bg-header);
}

/* Select ocupa o meio */
.header form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

select {
    width: 90%;
    padding: 0.2rem;
    font-size: 1.2rem;
    border: 1px solid var(--text-subtitle);
    border-radius: 5px;
    background: var(--card-bg);
    color: var(--text-vd);
}

select option:checked {
  background-color: var(--card-cz); /* Fundo quando selecionado */
  color: var(--text-title) /* Texto quando selecionado */
}

/* Ícones */
.icon-btn img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* Mapa */
.mapa {
  background-color: var(--bg-main);
  width: 95%;
  height: 80vh;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid var(--card-hover-shadow);
  border-radius: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

form {
    width: 100%;
    display: grid;
    place-items: center;
}

img {
    aspect-ratio: 1 / 0.9;
    object-fit: cover;
    height: 80vh;
    width: 170vw;
}

.Contador {
  margin-top: 5px;
  text-align: center;

}

.Reiniciar {
  margin-bottom: 10px;
  background: var(--bg-main);      /* tira fundo cinza */
  border: none;          /* tira borda */
  cursor: pointer;       /* mostra "mãozinha" */
  font-size: 10px;       /* aumenta tamanho do ícone */
  color: var(--bg-footer);  /* usa a cor da sua var */
  transition: transform 0.2s ease, color 0.3s;
}

.progress-bar {
  width: 80%;
  height: 8px;
  background-color: var(--btn-hover);
  border-radius: 10px;
  margin: 8px auto;
  overflow: hidden;
}

.progress-bar .progress {
  height: 100%;
  background-color: var(--text-vd);
  transition: width 0.3s ease;
}

/* Botão de ajuda flutuante */
.ajuda-botao {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--card-cz);
  color: var(--bg-main);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 8px var(--text-main);
  transition: 0.3s;
}

.ajuda-botao:hover {
  background-color: var(--card-cz);
}

/* Caixinha de ajuda */
.ajuda-caixa {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 13px;
  padding: 16px;
  width: 260px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}

.ajuda-caixa h3 {
  color: var(--text-main);
  font-size: 15px;
}

footer {
  background: var(--bg-footer);
  color: var(--text-main);
  text-align: center;
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.footer-content {
  font-size: 13px;
  text-align: center;
  background: var(--bg-footer);
  display: flex;
  padding: 2px 25px;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  gap: 0px;
  margin: 0 auto;
}

.footer-assinatura {
  margin-top: 30px;
}