:root {
  --bg-header:  rgb(3, 58, 30);
  --bg-main: #ffffff;
  --bg-footer:  rgb(3, 58, 30);

  --text-main: #000000;
  --text-subtitle: #ffffff;
  --text-title: rgb(30, 155, 30);
  --text-vd: rgb(26, 121, 26);

  --card-bg: #fff;
  --card-shadow: rgb(123, 201, 123);
  --card-hover-shadow: rgba(9, 172, 31, 0.966);
  --card-cz: rgb(68, 76, 80);

  --btn-bg: #ffffff;
  --btn-hover: #ddd;
  --btn-text: #000000;
}

/* ======= Tema escuro ======= */
body.dark {
  --bg-header: #121212;
  --bg-main: #181818;
  --bg-footer: #121212;

  --text-main: #f1f1f1;
  --text-subtitle: #cccccc;
  --text-title: #6cd96c;

  --card-bg: #242424;
  --card-shadow: rgba(0, 0, 0, 0.6);
  --card-hover-shadow: rgba(0, 255, 100, 0.4);

  --btn-bg: #333;
  --btn-hover: #444;
  --btn-text: #f1f1f1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-main);
}

/* Header com ícones e select */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background: var(--bg-header);
}

/* Select ocupa o meio */
.header form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

select {
    width: 90%;
    padding: 0.2rem;
    font-size: 1.2rem;
    border: 1px solid var(--text-subtitle);
    border-radius: 5px;
    background: var(--card-bg);
    color: var(--text-vd)
}

select option:checked {
  background-color: var(--card-cz); /* Fundo quando selecionado */
  color: var(--text-title) /* Texto quando selecionado */
}

/* Ícones */
.icon-btn img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* Mapa */
.mapa {
  background-color: var(--bg-main);
  width: 95%;
  height: 80vh;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid var(--card-hover-shadow);
  border-radius: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

form {
    width: 100%;
    display: grid;
    place-items: center;
}


img {
    object-position: center;
    aspect-ratio: 2 / 2.2;
    object-fit: cover;
    height: 80vh;
    width: 200vw;
}

.footer-content {
  font-size: 13px;
  text-align: center;
  background: var(--bg-footer);
  display: flex;
  padding: 3px 9px;
  flex-direction: column;
  align-items: center;
}